h1 {
  color: #4859d8;
  background-color: #e17cd3;
  border: 1px solid #2438d0;
  padding-left: 5px;
}

p {
  color: #0041f0;
  background-color: #f9f256;
  border: 1px solid #f00061;
  padding: 5px;
}

table,
th {
  border: 2px solid #2438d0;
}

td {
  border: 1px solid #80a5f4;
  padding: 5px 5px 5px 8px;
}
